{% extends 'base.html' %}
{% load static %}
{% block title %}
    Blog
{% endblock %}
{% block content %}

    <div class="first-widget parallax" id="blog">
        <div class="parallax-overlay">
            <div class="container pageTitle">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <h2 class="page-title">مقالات</h2>
                    </div> <!-- /.col-md-6 -->
                    <div class="col-md-6 col-sm-6 text-right">
                        <span class="page-location"><a href="{% url 'home:home' %}">خانه / <a href="{% url 'blog:blog'%}">مقالات</a></a></span>
                    </div> <!-- /.col-md-6 -->
                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div> <!-- /.parallax-overlay -->
    </div> <!-- /.pageTitle -->

    <div class="container">
        <div class="row">

            <div class="col-md-8 blog-posts">
                <div class="row">
                    <div class="col-md-12">
                        {% for article in articles %}
                            <div class="post-blog">
                                <div class="blog-image">
                                    <a href="{% url 'blog:article' article.slug %}">
                                        <img src="{{ article.image.url }}" alt="{{ article.author }}">
                                    </a>
                                </div> <!-- /.blog-image -->
                                <div class="blog-content">
                                    <span class="meta-date"><a href="#">{{ article.date }}</a></span>
                                    <span class="meta-comments"><a href="#">Comments</a></span>
                                    <span class="meta-author"><a href="#">{{ article.author }}</a></span>
                                    <h3><a href="{% url 'blog:article' article.slug %}">{{ article.title }}</a></h3>
                                    <p class="light-text">{{ article.short_description }}</p>
                                    <p>{{ article.short_body }}<a href="{% url 'blog:article' article.slug %}">ادامه مطالب</a></p>
                                </div> <!-- /.blog-content -->
                            </div> <!-- /.post-blog -->
                        {% endfor %}

                    </div> <!-- /.col-md-12 -->
                    <div class="col-md-12">
                        {% if is_paginated %}
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-center">

                                    {# دکمه قبلی #}
                                    {% if page_obj.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">>></a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled"></li>
                                    {% endif %}

                                    {# شماره صفحه فعلی و قبلی و بعدی فقط #}
                                    {% if page_obj.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link"
                                               href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                                        </li>
                                    {% endif %}

                                    <li class="page-item active" aria-current="page">
                                        <a class="page-link"
                                           href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
                                    </li>

                                    {% if page_obj.has_next %}
                                        <li class="page-item">
                                            <a class="page-link"
                                               href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                                        </li>
                                    {% endif %}

                                    {# دکمه بعدی #}
                                    {% if page_obj.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ page_obj.next_page_number }}"><<</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled"></li>
                                    {% endif %}

                                </ul>
                            </nav>
                        {% endif %}


                    </div> <!-- /.col-md-12 -->
                </div> <!-- /.row -->
            </div> <!-- /.col-md-8 -->

            <div class="col-md-4">
                <div class="sidebar">
                    <div class="sidebar-widget">
                        <h5 class="widget-title">Recent Posts</h5>
                        <div class="last-post clearfix">
                            <div class="thumb pull-left">
                                <a href="#"><img src="{% static 'images/includes/blogthumb1.jpg' %}" alt=""></a>
                            </div>
                            <div class="content">
                                <span>24 February 2084</span>
                                <h4><a href="#">Standard Post Formating Medigo</a></h4>
                            </div>
                        </div> <!-- /.last-post -->
                        <div class="last-post clearfix">
                            <div class="thumb pull-left">
                                <a href="#"><img src="{% static 'images/includes/blogthumb2.jpg' %}" alt=""></a>
                            </div>
                            <div class="content">
                                <span>24 February 2084</span>
                                <h4><a href="#">Standard Post Formating Medigo</a></h4>
                            </div>
                        </div> <!-- /.last-post -->
                        <div class="last-post clearfix">
                            <div class="thumb pull-left">
                                <a href="#"><img src="{% static 'images/includes/blogthumb3.jpg' %}" alt=""></a>
                            </div>
                            <div class="content">
                                <span>24 February 2084</span>
                                <h4><a href="#">Standard Post Formating Medigo</a></h4>
                            </div>
                        </div> <!-- /.last-post -->
                    </div> <!-- /.sidebar-widget -->
                    <div class="sidebar-widget">
                        <h5 class="widget-title">Categories</h5>
                        <div class="row categories">
                            <div class="col-md-6">
                                <ul>
                                    <li><a href="#">Standard</a></li>
                                    <li><a href="#">Audio</a></li>
                                    <li><a href="#">Video</a></li>
                                    <li><a href="#">Branding</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul>
                                    <li><a href="#">iOS Design</a></li>
                                    <li><a href="#">Business</a></li>
                                </ul>
                            </div>
                        </div> <!-- /.row -->
                    </div> <!-- /.sidebar-widget -->
                    <div class="sidebar-widget">
                        <h5 class="widget-title">Flickr Feed</h5>
                        <ul id="flickr-feed" class="thumbs"></ul>
                    </div> <!-- /.sidebar-widget -->
                    <div class="sidebar-widget">
                        <h5 class="widget-title">Text Widget</h5>
                        <p class="light-text">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
                            ut fermentum massa justo sit amet risus. Cum sociis natoque penatibus et magnis dis
                            parturient… </p>
                    </div> <!-- /.sidebar-widget -->
                </div> <!-- /.sidebar -->
            </div> <!-- /.col-md-4 -->

        </div> <!-- /.row -->
    </div> <!-- /.container -->

{% endblock %}