{% extends 'base.html' %}
{% load static %}

{% block title %}
    Accounts
{% endblock %}


{% block content %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css" rel="stylesheet">
    <div style="margin-top: 150px;" class="container">
        <div class="container-fluid mt-4">
            <div class="row">
                <!-- محتوای سمت راست  -->
                <div class="col-md-9 col-sm-12 order-md-2">
                    <!-- نمایش اطلاعات -->
                    {% for author in authors %}
                        <div id="view-info" class="dashboard-section card p-3">
                        <h5><a href="{% url 'account:user_profile' username=author.username %}">{{ author.username}}</a></h5>
                        <img style="height: 75px;width: 75px; border-radius: 100%"
                             src="{{ author.profile.avatar.url }}"
                             alt="{{ author.profile.user.username }}">
                        <hr>
                        <p> {{ author.first_name }} {{ author.last_name}}</p>
                        <p> {{author.profile.bio }}</p>
                        <p>مقالات : {{ author.article_count }}</p>
                            <hr>
                    </div>

                    {% endfor %}

                </div>


            </div>
        </div>

    </div>
    <script>
        const menuButtons = document.querySelectorAll('.list-group button[data-target]');
        const sections = document.querySelectorAll('.dashboard-section');
        const viewInfoSection = document.getElementById('view-info');


        menuButtons.forEach(btn => {
            btn.addEventListener('click', () => {
                const target = btn.dataset.target;

                sections.forEach(sec => {
                    sec.style.display = sec.id === target ? 'block' : 'none';
                });

                menuButtons.forEach(b => b.classList.remove('active'));
                btn.classList.add('active');
            });
        });
    </script>



{% endblock %}