{% extends 'base.html' %}
{% load static %}

{% block title %}
    Accounts
{% endblock %}


{% block content %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css" rel="stylesheet">
    <div style="margin-top: 150px;" class="container">
        <div class="container-fluid mt-4">
            <div class="row">
                <!-- محتوای سمت راست  -->
                <div class="col-md-9 col-sm-12 order-md-2">
                    <!-- نمایش اطلاعات -->
                    <div id="view-info" class="dashboard-section card p-3">
                        <h5>اطلاعات کاربری</h5>
                        <img style="height: 200px;width: 200px; border-radius: 100%" src="{{ profile_user.profile.avatar.url }}"
                             alt="{{ profile_user.username }}">
                        <hr>
                        <p> {{ profile_user.first_name }} {{ profile_user.last_name }}</p>
                        <p> {{ profile_user.profile.bio }}</p>
                        <p>ایمیل : {{ profile_user.email }}</p>
                        <p>شماره تماس : {{ profile_user.profile.phone }}</p>
                        <p>آدرس : {{ profile_user.profile.address }}</p>
                        <p>تاریخ تولد : {{ profile_user.profile.birth }}</p>
                    </div>
                    </div>


                </div>
                <div class="col-md-3 col-sm-12 mb-3 order-md-1">
                    <div class="card shadow-sm text-end">
                        <div class="card-body p-2">
                            <div class="text-center mb-3">
                                <img src="{{ profile_user.profile.avatar.url }}" class="rounded-circle mb-2"
                                     style="width: 80px; height: 80px; border-radius: 100%" alt="{{ profile_user.username }}">
                                <h6 class="mb-0">{{ profile_user.get_full_name }}</h6>
                                <small class="text-muted">{{ profile_user.username }}</small>
                            </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script>
        const menuButtons = document.querySelectorAll('.list-group button[data-target]');
        const sections = document.querySelectorAll('.dashboard-section');
        const viewInfoSection = document.getElementById('view-info');




        menuButtons.forEach(btn => {
            btn.addEventListener('click', () => {
                const target = btn.dataset.target;

                sections.forEach(sec => {
                    sec.style.display = sec.id === target ? 'block' : 'none';
                });

                menuButtons.forEach(b => b.classList.remove('active'));
                btn.classList.add('active');
            });
        });
    </script>



{% endblock %}