{% extends 'base.html' %}
{% load static %}

{% block title %}
    Accounts
{% endblock %}


{% block content %}



    <div class="container"
         style="width: 20%; height: 50%; margin-top: 10%; margin-block-end: 5%;">
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label>نام کاربری :</label>
                <div style="text-align: center">{{ form.username }}</div>
            </div>
            <div class="form-group">
                <label>رمز عبور :</label>
                <div style="text-align: center">{{ form.password }}</div>
            </div>
            <div style="text-align: center;">
                <button type="submit" class="btn btn-primary">ورود</button>
            </div>
            <br>
            <div>
                <button class="btn- btn-block"><a href="{% url 'account:user_register' %}">ثبت نام حساب </a></button>
            </div>
        </form>
    </div>

{% endblock %}