{% extends 'base.html' %}
{% load static %}

{% block title %}
    Accounts
{% endblock %}


{% block content %}

    <div style="margin-top: 150px;" class="container">
        <div class="container mt-4">
            <img style="width: 100px;height: 100px" src="{{ user.profile.avatar.url }}" alt="">
            <h2> {{ user.get_full_name }}</h2>
            <p>ایمیل: {{ user.email }}</p>
            <p> نام کاربری: {{ user.username }}</p>
            <button id="edit-btn" class="btn btn-outline-primary">ویرایش اطلاعات</button>
        </div>

        <hr>
        <div id="edit-form" style="display: none;" class="mt-3">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ user_up.as_p }}
                {{ profile_up.as_p }}
                <button type="submit" name="update" class="btn btn-primary">ذخیره تغییرات</button>
                <button type="button" id="cancel-btn" class="btn btn-secondary">انصراف</button>
            </form>
        </div>
        <hr>
        <h5>تغییر رمز عبور</h5>
        <form method="post">
            {% csrf_token %}
            {{ pass_up.as_p }}
            <button type="submit" name="change_password" class="btn btn-warning">تغییر رمز</button>
        </form>
        <hr>
        <form method="post" onsubmit="return confirm('مطمئنی می‌خوای حساب خودتو حذف کنی؟')">
            {% csrf_token %}
            <button type="submit" name="delete" class="btn btn-danger">حذف حساب</button>
        </form>
    </div>
    <script>
        const editBtn = document.getElementById('edit-btn');
        const editForm = document.getElementById('edit-form');
        const cancelBtn = document.getElementById('cancel-btn');

        editBtn.addEventListener('click', () => {
            editForm.style.display = 'block';
            editBtn.style.display = 'none';
        });

        cancelBtn.addEventListener('click', () => {
            editForm.style.display = 'none';
            editBtn.style.display = 'inline-block';
        });
    </script>
{% endblock %}